{% extends '../../common/admin_cards_container.html' %}

{% set collection = get_admin_collection_spec('events') %}
{% set collection_view_mode = get_admin_collection_view_mode('events') %}
{% set collection_show_details = get_admin_collection_show_details('events') %}
{% set collection_url = url_for('admin-tab', admin_tab=admin_tab) %}

{% block top_left_nav %}
    <div>
        {{ admin_macros.admin_title(nav_tab.page_title) }}
    </div>
{% endblock %}

{% block top_right_nav %}
    {% if client.can_view_detailed_event_cards %}
        {% include '/admin/common/collection_controls.html' %}
    {% endif %}
    {% if client.can_create_events %}
        <div class="d-flex gap-2 ms-auto align-items-center">
            {% with is_dropdown = true %}
                {% include 'create_event_button.html' %}
            {% endwith %}
        </div>
        <script>
            preparePrintModal()
        </script>
    {%endif %}
{% endblock %}

{% block cards_container_cards %}
    {% include 'events_tag_filter.html' %}
    {% with
        items=nav_tab.events,
        empty_message=nav_tab.empty_str,
        sortable=false,
        show_details=collection_show_details
    %}
        {% include '/admin/common/collection.html' %}
    {% endwith %}
{% endblock %}
