{% extends '/admin/print/base.html' %}

{% block css %}
    {% include 'individual_team_ranking.css' %}
{% endblock %}

{% block content %}
    <section>
        <div class="section-title">{{ _('Overall ranking') }}</div>
        <div
            class="teams-overall centered"
            style="grid-template-columns: repeat({{ tournament.team_ranking_tie_breaks|length + 2 }}, max-content);"
        >
            <div class="overall-header text-end fw-bold">
                {{ _('Rk. *** RANK COLUMN HEADER') }}
            </div>
            <div class="overall-header">
                {{ document.overall_table_header }}
            </div>
            {% for tie_break in tournament.team_ranking_tie_breaks %}
                <div class="overall-header text-center">
                    {{ tie_break.acronym }}
                </div>
            {% endfor %}
            {% for team in ordered_teams %}
                <div class="overall-cell text-end fw-bold">
                    {{ ordinal_integer(loop.index)|safe }}
                </div>
                <div
                    class="overall-cell"
                    onclick="document.getElementById('team-{{ team.id }}').scrollIntoView()"
                    style="cursor: pointer"
                >
                    {{ team.name | safe }}
                    {% if not team.is_complete %}
                        <i>({{ _('incomplete *** INCOMPLETE TEAM') }})</i>
                    {% endif %}
                </div>
                <div class="overall-cell text-center fw-bold">
                   {{ points_str(team.total_points) }}
                </div>
                {% for tb_sum in team.tie_break_sums %}
                     <div class="overall-cell text-center">
                        {{ points_str(tb_sum) }}
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </section>
    <section class="teams" style="grid-template-columns: repeat({{player_columns|length}}, max-content);">
        {% for team in ordered_teams %}
            <div class="separator"></div>

            <div id="team-{{ team.id }}" class="team no-page-break">
                <div class="team-rank">{{ ordinal_integer(loop.index)|safe }}</div>
                <div class="team-title">
                    {{ team.title_name | safe }}
                </div>
                <div class="team-info">
                    {% if document.youngest_team_last_tie_break and team.avg_age_years %}
                        <div style="margin-bottom: 0.75rem;">
                            {{ _('Average age: %(years)s', years=localized_number(team.avg_age_years)) }}
                        </div>
                    {% endif %}
                    {% if team.is_complete %}
                        {% if document.display_incomplete_teams %}
                            <i>{{ _('Complete Team') }}</i>
                        {% endif %}
                    {% else %}
                        <i>{{ _('Incomplete Team') }}</i>
                        {% if document.min_gender_count and team.missing_men %}
                            <br/>
                            {{ team.missing_men_str }}
                        {% endif %}
                        {% if document.min_gender_count and team.missing_women %}
                            <br/>
                            {{ team.missing_women_str }}
                        {% endif %}
                        {% if team.missing_any %}
                            <br/>
                            {{ team.missing_any_str }}
                        {% endif %}
                    {% endif %}
                </div>

                {% for column in player_columns %}
                    <div class="player-header {{ column.header_classes }}">
                        {{ macros.column_header(column) }}
                    </div>
                {% endfor %}

                {% for player in team.players %}
                    {% for column in player_columns %}
                        <div class="player-cell {{ column.get_cell_classes(player) }}">
                            {% if column.cell_template %}
                                {% include column.cell_template %}
                            {% else %}
                                {{ macros.column_cell(column, player) }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endfor %}
                <div class="total text-start" style="grid-column: 1 / {{ player_columns|length - team.tie_break_sums|length }};">
                    {{ _('Total') }}
                </div>
                {% for tie_break_sum in team.tie_break_sums %}
                     <div class="total">
                        {{ points_str(tie_break_sum) }}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>
{% endblock %}
