<table class="table table-sm mb-0">
    <thead>
        <tr>{# Enforces starting with odd rows #}</tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th scope="col" class="text-nowrap text-center">
                {{ _('Rk. *** RANK COLUMN HEADER') }}
            </th>
            <th scope="col" class="text-nowrap">
                {{ _('Opponent') }}
            </th>
            <th scope="col" class="text-nowrap text-center">
                {{ _('Rating') }}
            </th>
            <th scope="col" class="text-nowrap text-center">
                {{ _('Cat. *** CATEGORY COLUMN HEADER') }}
            </th>
            <th scope="col" class="text-nowrap text-center">
                {{ _('Fed. *** FEDERATION COLUMN HEADER') }}
            </th>
            {% for tie_break in admin_tournament.tie_breaks %}
                <th class="tie-break text-nowrap text-center">{{ tie_break.acronym }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for round in range(1, max_round + 1) %}
            <tr>
                <th class="round text-center">{{ _('R %(round)d *** ROUND COLUMN HEADER', round=round) }}</th>
                {% set pairing = player.single_tournament_player.pairings[round] %}
                {% set opponent = pairing.opponent %}
                {% if opponent %}
                    <td>{{ pairing.color.to_crosstable }}</td>
                    <td class='text-center'>{{ pairing.points_str }}</td>
                    <td class='text-center'>{{ opponent.rank }}</td>
                    <td class='text-nowrap'>{{ opponent.display_title }} {{ opponent.full_name }}</td>
                    <td>{{ opponent.rating_str }}</td>
                    <td>{{ opponent.category_name }}</td>
                    <td>{{ opponent.federation }}</td>
                    {% for tie_break_value in opponent.tie_break_values %}
                        <td class="tie-break text-center">
                            {{ tie_break_value }}
                        </td>
                    {% endfor %}
                {% else %}
                    <td colspan="1000" class="fst-italic">
                    {% if pairing.zero_point_bye %}
                        {{ _('Zero-Point Bye') }}
                    {% elif pairing.exempt %}
                        {{ _('Pairing Allocated Bye') }}
                    {% elif pairing.half_point_bye %}
                        {{ _('Half-Point Bye') }}
                    {% elif pairing.full_point_bye %}
                        {{ _('Full-Point Bye') }}
                    {% else %}
                        {{ _('Not paired for this round') }}
                    {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
